COMPOSE_PROJECT_NAME=dc-quant-deploy
DEPLOY_ROOT=/data/strategy
RUNTIME_UID=1000
RUNTIME_GID=1000
SERVICE_HOST=14.0.47.20

CLICKHOUSE_MODE=external
CLICKHOUSE_IMAGE_TAG=25.9.3.48
CLICKHOUSE_DB_NAME=dc
CLICKHOUSE_HOST=14.0.47.20
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=change-me-in-local-env-prod

GW_TAG=v0.0.1-test.1
MDSVR_TAG=v0.0.1-test.1
APSSVR_TAG=v0.0.1-test.3
QUANTSVR_TAG=v0.0.1-test.1
INDSVR_TAG=v0.0.1-test.1
SIMSVR_TAG=v0.0.1-test.1
BATCHSVR_TAG=v0.0.1-test.1
WEB_TAG=v0.0.1-test
ZOOKEEPER_TAG=v0.0.2-test
