COMPOSE_PROJECT_NAME=dc-quant-deploy
DEPLOY_ROOT=/opt/dc-quant-deploy

CLICKHOUSE_IMAGE_TAG=25.9.3.48
CLICKHOUSE_DB_NAME=dc
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000

GW_TAG=v0.0.1-test.1
MDSVR_TAG=v0.0.1-test.1
APSSVR_TAG=v0.0.1-test.3
QUANTSVR_TAG=v0.0.1-test.1
INDSVR_TAG=v0.0.1-test.1
SIMSVR_TAG=v0.0.1-test.1
BATCHSVR_TAG=v0.0.1-test.1
WEB_TAG=v0.0.1-test
ZOOKEEPER_TAG=v0.0.2-test
